@media screen and (max-width: 600px) {
    body {
        -webkit-text-size-adjust: 100% !important;
    }
    .cy_head {
        display: none;
    }
    .mobile_phone {
        display: none;
    }
    .pc_now {
        display: none;
    }
    .container {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #f8f9fb;
    }
    /***********tips**************/
    .logout-tips {
        display: none;
        margin-left: 5%;
        margin-right: 5%;
    }
    .tips-top {
        margin-top: 30px;
    }
    .content-title {
        /* width: 57.6%; */
        height: 4.8%;
        font-family: PingFangSC-Semibold;
        font-size: 24px;
        color: #001026;
        font-weight: bold;
    }
    .tips-content {
        margin-top: 30px;
    }
    .content-item {
        font-family: PingFangSC-Regular;
        font-size: 18px;
        color: #001026;
        margin-bottom: 10px;
    }
    .item-info {
        display: inline-block;
        font-family: PingFangSC-Regular;
        font-size: 16px;
        color: rgba(0,16,38,0.5);
        line-height: 20px;
        margin-bottom: 20px;
    }
    .product-tips {
        display: inline-block;
        font-family: PingFangSC-Regular;
        font-size: 16px;
        color: rgba(0,16,38,0.5);
        margin-top: 30px;
    }
    .product-item-wrap {

    }
    .product-item {
        display: inline-block;

    }
    .product-item-icon {
        width: 70px;
        height: 70px;
    }
    .caiyun-icon {
        margin-right: 20px;
        background-image: url('../images/account/caiyun-logo.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .hebiji-icon {
        margin-right: 20px;
        background-image: url('../images/account/biji-logo.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .album-icon {
        background-image: url('../images/account/album.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .product-item-name {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: rgba(0,16,38,0.5);
        margin-top: 10px;
        text-indent: 10px;
    }
    .go-on {
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin-top: 30px;
        margin-bottom: 20px;
        background-color: rgba(0,96,230,1);
        color: #fff;
        font-family: PingFangSC-Regular;
        font-size: 20px;
        border-radius: 5px;
        text-align: center;
    }
    .go-on a {
        color: #fff;
        font-family: PingFangSC-Regular;
        font-size: 20px;
        text-decoration: none;
    }

    .checking {
        display: none;
    }
    .checking-icon {
        width: 60px;
        height: 60px;
        background-image: url('../images/account/loading.gif');
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0 auto;
        margin-top: 200px;
        margin-bottom: 30px;
    }
    .checking-content {

    }
    .checking-content-title {
        display: none;
    }
    .checking-content-info {
        font-family: PingFangSC-Regular;
        font-size: 18px;
        color: rgba(0,16,38,0.5);
        text-align: center;
    }
    .check-result {
        display: none;
    }
    /********** confirm *****************/
    .logout-confirm {
        display: none;
        margin-left: 5%;
        margin-right: 5%;
    }
    .confirm-top {
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .confirm-logo {

    }
    .confirm-title {
        font-family: PingFangSC-Medium;
        font-size: 18px;
        font-weight: bold;
        color: rgba(0,16,38,1);
    }
    .confirm-content {

    }
    .phone, .phone span {
        font-family: PingFangSC-Regular;
        color:rgba(0,16,38,1);
        font-size: 16px;
    }
    .get-code {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 12px;
        border-radius: 5px;
        z-index: 10;
        background-color: rgba(228, 226, 226, 0.67);
    }
    .input-text {
        font-family: PingFangSC-Regular;
        font-size: 16px;
        border: 0;
        color: rgba(0,16,38,0.3);
        background-color: transparent;
        height: 50px;
        -webkit-user-select:auto; /*webkit浏览器*/
        -webkit-appearance: none;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        position: relative;
        left: -2%;
        text-indent: 16px;
    }
    input,input::-webkit-inner-spin-button,input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance:textfield;
        margin: 0;
        border: 0;
    }
    .input-text:focus {
        outline: none;
        -webkit-tap-highlight-color: #fff;
    }
    .get-code-btn {
        font-family: PingFangSC-Regular;
        color: rgba(0,96,230,1);
        font-size: 16px;
        line-height: 52px;
        background-color:  transparent;
        position: relative;
        left: -10px;
    }
    .show-err-tips {
        margin-top: 10px;
        color: #ff4a1f;
        font-size: 12px;
        width: 100%;
        height: 16px;
    }
    .confirmLogout {
        font-family: PingFangSC-Regular;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        margin-top: 60px;
        background-color: #ccc;
        font-size: 18px;
        border-radius: 5px;
    }
    .confirmLogout a, .confirmLogout span{
        font-family: PingFangSC-Regular;
        color: #fff;
        font-size: 18px;
        text-decoration: none;
    }

    /**********toast*************/
    .mask {
        display: none;
        background-color: rgba(177, 174, 174, 0.56);
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .toast {
        display: none;
        position: fixed;
        z-index: 10;
        top: 50%;
        left: 50%;
        width: 82%;
        height: 30%;
        transform: translate(-50%,-50%);
        border-radius: 5px;
        background-color: #fff;
    }
    .toast-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .toast-title {
        font-family: PingFangSC-Regular;
        color: rgba(37,38,43,1);
        font-size: 20px;
        text-align: center;
        position: relative;
        top: 12%;
    }
    .toast-close {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 5px;
        right: 5px;
        background-image: url('../images/account/close.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .toast-content {
        font-family: PingFangSC-Regular;
        color: rgba(94,95,100,1);
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        position: relative;
    }
    .toast-btns-wrap {
        border-top: 1px solid rgba(223,224,229,1);
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 48px;
        position: relative;
        top: 8px;
    }
    .toast-btn, .toast-btn a {
        font-family: PingFangSC-Regular;
        color: rgba(0,96,230,1);
        font-size: 20px;
        height: 100%;
        width: 100%;
    }
    .consider {
        border-right: 1px solid rgba(223,224,229,1);
        /* padding-right: 25px; */
    }
    .besure {
        /* padding-left: 25px; */
    }
    /*******logout-result***********/
    .logout-result, .check-result {
        margin-left: 5%;
        margin-right: 5%;
    }
    .logout-wrap-success, .logout-wrap-error, .check-result-err {

    }
    .res-icon-success {
        width: 80px;
        height: 80px;
        background-image: url('../images/account/success_logout_mobile_icon.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0 auto;
        margin-top: 80px;
    }
    .res-content, .check-res-content {
        margin-top: 80px;
    }
    .res-content-title, .res-content-title-err, .check-res-content-title-err{
        font-family: PingFangSC-Medium;
        color: rgba(0,16,38,1);
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }
    .res-content-info, .res-content-info-err, .check-res-content-info-err {
        font-family: PingFangSC-Regular;
        color: rgba(0,16,38,0.5);
        font-size: 16px;
        line-height: 24px;
        margin-top: 20px;
    }
    .sure, .res-sure-btn-err {
        position: absolute;
        left: 5%;
        width: 90%;
        bottom: 30px;
        color: #ffffff;
        font-family: PingFangSC-Regular;
        font-size: 18px;
        height: 50px;
        background-color: rgba(0,96,230,1);
        border: 0;
        border-radius: 5px;
    }

    /******************error*****/
    .res-icon-err, .check-res-icon-err {
        width: 80px;
        height: 80px;
        background-image: url('../images/account/logout_err_mobile_icon.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0 auto;
        margin-top: 80px;
    }
}
